body {
    overflow-x: hidden;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

header {
    background-color: rgb(255, 255, 255);
    height: 100px;
    min-height: 70px;
}

header img {
    margin-top: 40px;
    margin-left: 150px;
}

header li {
    float: left;
    display: inline;
    margin: 35px 10px 10px 20px;
}

header nav {
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

header .menuToggle {
    display: none;
}

header .btn_1 {
    margin-top: 20px;
    float: right;
}

header #branding {
    float: left;
}

header a {
    color: rgb(213, 214, 218);
    text-decoration: none;
}

header a:hover {
    color: rgb(142, 141, 147);
    font-weight: bold;
}

button {
    height: 45px;
    width: 150px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    margin-right: 100px;
    color: #ffffff;
    cursor: pointer;
    border: none;
}


/* MainPage */

#main_page h1 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 50px;
    padding-bottom: 30px;
    margin-top: 100px;
}

#main_page p {
    font-size: 18px;
    color: hsl(233, 8%, 62%);
    padding-bottom: 30px;
}

#main_page .content {
    width: 40%;
    padding: 0 0 300px 150px;
}

#main_page {
    display: flex;
    justify-content: center;
}

#main_page .bg-image {
    height: 150%;
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: -1;
    min-width: 400px;
    transform: rotate(10deg);
}

#main_page .mb-image {
    position: relative;
    left: 100px;
    bottom: 100px;
    z-index: -1;
}


/* Choosing Banking */

#content {
    background-color: hsl(220, 16%, 96%);
    position: relative;
    top: -350px;
    z-index: -2;
    padding-left: 50px;
}

#choosing {
    padding-top: 60px;
    margin-left: 100px;
    margin-bottom: 20px;
    width: 50%;
}

#choosing h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

p {
    color: hsl(233, 8%, 62%);
}


/* Boxes */

#boxes {
    display: flex;
    justify-content: center;
    margin-left: 60px;
    margin-right: 100px;
    padding-bottom: 30px;
    ;
}

.box {
    margin: 40px;
}

#boxes img {
    margin-bottom: 30px;
}

#boxes h3 {
    font-size: 22px;
    margin-bottom: 30px;
}

#articles {
    margin-top: -300px;
    margin-left: 100px;
}

#articles .article-box {
    height: 580px;
}

#articles .article-box img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#articles .article-box h4:hover {
    cursor: pointer;
    color: hsl(136, 65%, 51%);
}

#articles h2 {
    font-size: 28px;
    margin-left: 30px;
}

.article-box {
    display: flex;
    justify-content: center;
}

.article-box img {
    height: 250px;
    width: 250px;
    margin: 30px 30px 10px 30px;
}

article {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#articles h6 {
    font-size: 12px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: hsl(233, 8%, 62%);
}

#articles h4 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

#articles P {
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
}

footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 170px;
    width: 100%;
    margin-top: 15px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(233, 26%, 24%);
}

footer .icons {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 25px;
}

footer .list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 70px;
}

footer button {
    margin-top: 30px;
    margin-left: 300px;
}

footer p {
    margin-top: 30px;
    margin-left: 300px;
}

footer li {
    margin: 10px;
}

footer .list_1 {
    padding-right: 50px;
}

footer .list_2 {
    padding-left: 50px;
}

footer .img-logo {
    filter: invert();
}

footer .icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 80px;
}

footer .icons div {
    margin: 20px;
}

footer .icons div img {
    margin: 5px;
}

.icons img {
    cursor: pointer;
}

footer li:hover {
    cursor: pointer;
    color: hksl(136, 65%, 51%);
}

#menuToggle {
    display: none;
}

@media(max-width: 375px) {
    body {
        /* display: flex;
        flex-wrap: wrap; */
        /* overflow-x: hidden; */
    }
    header img {
        margin-left: 0;
    }
    header {
        background-image: url('../images/icon-hamburger.svg') no-repeat;
    }
    header .btn_1,
    nav {
        display: none;
    }
    #main_page {
        display: none;
    }
    #main_page {
        display: flex;
        justify-content: flex-start;
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 0;
    }
    #main_page .mb-image {
        position: relative;
        left: 0px;
        top: -150px;
        height: 500px;
        width: 350px;
    }
    #main_page .bg-image {
        height: 350px;
        width: 550px;
        position: absolute;
        transform: rotate(20deg);
        object-fit: cover;
        left: 10px;
    }
    #main_page .content {
        position: relative;
        padding: 0;
        margin: 0;
        top: -200px;
        width: 80%;
        margin-bottom: 200px;
    }
    #main_page .highlight {
        font-size: 35px;
        align-items: center;
    }
    #main_page button {
        margin-left: 50px;
    }
    #content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 0;
        margin-left: -100px;
        text-align: center;
    }
    #content #choosing {
        width: 65%;
    }
    #boxes {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .box {
        width: 100%;
    }
    .article-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 730px;
        margin-left: -105px;
        margin-bottom: 750px;
        /* width: 100%; */
    }
    #articles article {
        width: 80%;
        align-items: center;
        margin-left: 25px;
    }
    #articles .article-box img {
        width: 300px;
    }
    #articles .headings {
        margin-left: -70px;
    }
    #articles p,
    h4 {
        margin-left: 20px;
        text-align: left;
    }
    #articles h6 {
        margin-left: -100px;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 600px;
    }
    footer .list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: -10px;
    }
    footer .list_2 {
        position: relative;
        margin-left: -63px;
    }
    footer .rights {
        position: relative;
        left: -100px;
    }
    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 330px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }
    #menuToggle a:hover {
        color: tomato;
    }
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }
    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menu {
        position: absolute;
        width: 150px;
        margin: -100px 0 0 -330px;
        padding: 50px;
        margin-top: 22px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
    #menu li {
        padding: 0px 0;
        font-size: 18px;
    }
    #menuToggle input:checked~ul {
        transform: none;
    }
}